[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[user]
	email = prjctimg@outlook.com
	name = Dean Tarisai
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[pull]
	rebase = true
